/* 
	Global resets
*/

* {
  margin: 0;
  padding: 0;
}

a, a:active, a:visited {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

body {
	margin-top: 50px;
  background-color: white;
  font: 13.34px 'Merriweather', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#avatar {
	margin: 0 auto;
	display: block;
	width: 100px;
	height: 100px;
}

li {
	padding: 1%;
	-webkit-transition: all ease-in-out .5s;
	margin-left: 0;
}

li:hover {
	margin-left: -50px;
}

