/*
	Global resets
*/

html {
	height: 100%;
}

* {
  margin: 0;
  padding: 0;
}


.title, h2 {
	font-family: 'Open Sans',Verdana;
	font-size: 50px;
	letter-spacing: -0.04em;
}

a, a:active, a:visited {
	text-decoration: none;
	color: #333;
	font-family: 'Open Sans', Verdana;
}

.date {
	opacity: .6;
}

body {
  background-color: white;
  font: 16px 'Georgia', serif;
  text-align: center;
	color: #333332;
  -webkit-font-smoothing: antialiased;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
	flex: 1;
	padding-top: 50px;
}

#avatar {
	margin: 0 auto;
	display: block;
	width: 100px;
	height: 100px;
}

ul {
	padding: 1%;
}

li div {
	display: inline-block;
}

@media (max-width: 900px) {
	.post-tags {
		display: none;
	}
	.post-container a:hover {
		color: red;
	}
	li {
		padding: 10px;
	}
}

.post-container {
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
	margin-left: -9999px;
}

.post-tags {
	padding: 10px;
	opacity: 0;
	-webkit-transition: all ease-in-out .5s;
	transition: all ease-in-out .5s;
}

.post-tags.active {
	opacity:1;
}

.tag {
	background: #0074D9;
	padding: 3px 5px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	border-radius: 3px;
	color: #fff;
}

code {
	font-family: consolas;
	font-size: 18px;
	background: #f1f1f1;
	padding: 1%;
}

footer {
	padding: 1.5rem;
	background: #f1f1f1;
	text-align: center;
}
.twitter-follow-button {
	width: 108px!important;
}
