/* 
	Global resets
*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
	margin-top: 50px;
  background-color: white;
  font: 13.34px 'Bitter', Georgia, Serif;
  text-align: center;
}

#avatar {
	margin: 0 auto;
	display: block;
	width: 100px;
	height: 100px;
}

