
.post {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 3% 3% 3%;
	text-align: left;
}

.post p {
	font-size: 22px;
	text-align: left;
	line-height: 1.5em;
	letter-spacing: .01rem;
	margin: 3% 0;
	font-weight: 500;
	font-family: Georgia;
}

.post a {
	color: #0074D9;
	font-weight: normal;
	-webkit-transition: all ease-in-out .2s;
}

.post a:hover {
	color: red;
}

.list-image-item {
	overflow: hidden;
	display: flex;
	align-items: center;
	opacity: .3;
	-webkit-transition: all ease-in-out .5s;
}

.list-image-item.active {
	opacity: 1;
}

.list-image-meta {
	opacity: 0;
	-webkit-transition: all ease-in-out .5s;
	max-width: 70%;
	min-width:70%;
	padding-left: 100%;
}

.list-image-meta.active {
	opacity:1;
	text-align: left;
	padding-left: 3%;
	flex:1;
}

.list-image-item img{
	max-width: 30%;
	min-width:30%;
	margin: 3%;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

ul {
	padding:0;
	list-style: none;
}

li {
	margin: 10px 0;
}

h3 {
	margin: 3% 0;
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

video {
	max-height: 350px;
	display: block;
	margin: 0 auto;
}

.controls {
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
}

.controls button {
	border: none;
	background: #333;
	color: #fff;
	padding: 8px 5px 7px 14px;
}

.controls button:hover {
	cursor: pointer;
}

/* for YouTube videos */
iframe {
	display: block;
	margin: 0 auto;
	margin-bottom: -10px;
}

.image-text {
	display: block;
	margin: 0 auto;
	font-style: italic;
	font-size: 0.75em;
	text-align: center;
}

.post .footnotes {
	font-size: .75em;
	color: #332;
}

.meta {
	text-align: center;
	margin: 100px 0;
}
