\---
layout: default
color: yellow
\---

%section.me
  .content
    %h1 Hi!
    
    .information
      %img(src="/public/images/school.svg")

  %p I've got a degree from <a href="">here</a>, worked <a href="">here</a> and created <a href="">this</a>, <a href="">this</a> and<a href="">this</a>.
