\---
layout: master
title: Blog
\---

%section
  %h1 Blog

  %p 
    I sometimes have interesting thoughts, and at these increasingly
    rare occasions I wonder what they will look like once written down.
    This is the result of these moments.

  %hr
  
  %ul.posts
    \{% for post in site.posts %}
    %li
      %a(href="{{ post.url }}")
        %h2 {{ post.title }}
        %p.date {{ post.date | date: "%A %-d. %B %Y" }}
    \{% endfor %}

  %hr

  %section
    %h2 Archives

    %p
      I used to write posts on <b>Medium</b> before they unfortunately
      <a href="https://medium.com/the-story/collection-changes-part-3-d234638b3577">changed their
      policy on collection submissions</a> which made it
      nearly impossible for users with a small follower count to reach a larger
      audience.

    %p
      I do have four Medium stories (which garnered over 1000 views each before the change), and 
      if you feel like it you can read those <a href="https://medium.com/@nicohvi">here</a>.
