\---
layout: default
\---

%section
  %h1 Philosophy

  %p
    These are things I've read that have made me smile, think,
    and most importantly question the values I take for granted.

  %hr

  %ul
    \{% for item in site.data.philosophy %}
    %li 
      %a(href="{{ item.link }}")
        %h2 {{ item.title }}
        %p {{ item.desc }}
    \{% endfor %}
 
