!!!
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8') 
    %link(rel="stylesheet" href="/public/song.css")
  
  %body.song
    %h1 Tidenes feteste sang noensinne
    %h2 Melodi: Not Applicable

    %section.verse{ data: { id: 1 } }
      %section
        %p Når jeg begynte å jobbe i BEKK
        %p Ante ikke hva som skulle skje 
        %p Trodde alle jobba i dress 
        %p Men det var bare BMC 

      %section
        %p Det er bare BMC i dress 
        %p Da er de i sitt ess 
        %p De håver inn gress 
      
      %section
        %p Best når det gjelder - spesielt i Excel 
        %p De har PowerPoint på stell 
        %p Vinner de festen i kveld? 

    
    %section.verse.hidden{ data: { id: 2 } }
      %section
        %p Vi snakker mye om <b>tverrfaglighet</b> 
        %p Hva det betyr vet ikke jeg 
        %p Håpet det betydde jeg skulle jobbe med chicks 
        %p Men på teamet fins ingen tjei (riming er vanskelig)

      %section
        %p Jeg jobber bare sammen med andre dudes
        %p Sammen med andre dudes
        %p Det ække så jævla kult

      %section
        %p Gi oss en funk, kanskje ei fra BMC?
        %p Operations til og med!
        %p Forskjellen? Jeg veit ikke!
    
    %section.verse.hidden{ data: { id: 3 } }
      %section
        %p Men vi har det jo ganske bra
        %p Vi har jo bootcamp, og julebordet da
        %p Og selv om ting kan gå over styr
        %p Svarer vi alle til en ålreit fyr

      %section
        %p Jeg snakker seff om Olav Folkestad
        %p Fy fillern talen hans var bra
        %p Se, nå ble han glad!
    
    %button#next-verse Neste vers!

    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.37/Bacon.min.js")
    %script(src="/public/song.js")
