!!!
%html
  %head
    %link(rel="stylesheet" href="public/application.css")
    %script(src="public/application.js")
    %title I have no idea what I'm doing
  
  %body
    %header
      %a(href="/" id="home") I have <span class="focus">no</span> idea what I'm doing
   
    %section#content
      %section.wrapper
        {{ content }}

