\---
title: I have no idea what I'm doing
\---

!!!
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %link(rel="stylesheet" href="/public/application.css")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    %script(src="/public/application.js")
    %title {{ page.title }}
  
  %body
    {{ content }} 
    
