!!!
{% assign random = site.time | date: "%s%N" | modulo: site.data.lols.size %}
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %meta(name="Nicolay Hvidsten" content="Nicolay Hvidsten, Programming Ruby")
    %meta(name="robots" content="Nicolay Hvidsten, ruby, rails, programming")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    \{% include analytics.html %}
    %title {%if page.title %} {{ page.title }} {% else %} {{site.data.lols[random].text }} {% endif %}
  
  %body
    %header
      %a(href="/")
        %img(src="/public/images/avatar.svg")
      %nav
        %ul
          \{% assign url = page.url|remove:'index.html' %}
          \{% for link in site.navigation %}
          %li
            \{% if url contains link.url %}
            %a{href: "{{link.url}}", class: "active"} {{ link.text }}
            \{% else %}
            %a(href="{{link.url}}") {{ link.text }}
            \{% endif %}
          \{% endfor %}
    %main
      {{ content }} 

    %script(src="/public/bundle.js")
    %link(rel="stylesheet" href="/public/application.css?v=1")
      
