\---
title: I have no idea what I'm doing
\---

!!!
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %meta(name="Nicolay Hvidsten" content="Nicolay Hvidsten, Programming Ruby")
    %meta(name="robots" content="Nicolay Hvidsten, ruby, rails, programming")
    %link(rel="stylesheet" href="/public/application.css")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    %script(src="/public/analytics.js")
    %title {{ page.title }}
  
  %body
    %header
      %section.top
        %a(href="/")
          %img(src="/public/images/avatar.svg")
          %span Nicolay Hvidsten
        %a.twitter{href: "http://twitter.com/nicohvi", title: 'Thoughts'}
          %img(src="/public/images/twitter.svg")
        %a{href: "http://github.com/nicohvi", title: "Code"} 
          %img(src="/public/images/github.svg")

      %nav
        %ul
          \{% assign url = page.url|remove:'index.html' %}
          \{% for link in site.navigation %}
          %li
            \{% if url contains link.url %}
            %a{href: "{{link.url}}", class: "active"} {{ link.text }}
            \{% else %}
            %a(href="{{link.url}}") {{ link.text }}
            \{% endif %}
          \{% endfor %}
    %main
      {{ content }} 

    %footer
      
    
    %script(src="/public/application.min.js")
