\---
title: I have no idea what I'm doing
\---

!!!
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %meta(name="Nicolay Hvidsten" content="Nicolay Hvidsten, Programming Ruby")
    %meta(name="robots" content="Nicolay Hvidsten, ruby, rails, programming")
    %link(rel="stylesheet" href="/public/application.css")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    %script(src="/public/application.min.js")
    %script(src="/public/analytics.js")
    %title {{ page.title }}
  
  %body(class="{{ page.color }}")
    %header
      .content
        %section.left
          %a(href="/")
            %img(src="/public/images/avatar_white.svg")
          Nicolay Hvidsten
        %section.right
          %a.github(href="http://github.com/nicohvi")
            %img(src="/public/images/github.svg")
          %a.twitter(href="http://twitter.com/nicohvi")
            %img(src="/public/images/twitter.svg")
    #main
      {{ content }} 

    %footer
      
    
