\---
layout: master
\---

%section#cover
  .image
  .blur
  .darken

%section.header
  %h1.title

%section.content
  %article#post
    {{ content }}

    %section.meta
      {{ page.tags | join ', ' }}
