\---
layout: master
\---

%article#post
  %section.intro
    .content
      %img(src="/public/images/posts/{{ page.image }}")
      %h1.title {{ page.title }}
      .text
        %p {{ page.intro }}

  %section.body
    .content
      {{ content }}

