\---
layout: master
\---

%section#cover
  .cover-photo
  .blur
  .darken

%section.header
  .text
    %h1.title
    %h2.sub

%section.content
  %article#post
    {{ content }}

    %section.meta
      {{ page.tags | join ', ' }}
