\---
layout: master
\---

%article
  %section.header
    %h1.post-title {{ page.title }}
    %p.date {{ page.date | date: "%A %d. %B %Y" }}
  
  %section.body
    {{ content }}

  %section.comments
    #disqus_thread
    :javascript  
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'nicohvi';
    
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();


