\---
title: Nicolay Hvidsten, generally a likeable fellow
\---

!!!
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    %meta(name="Nicolay Hvidsten" content="Nicolay Hvidsten, Programming Ruby")
    %meta(name="robots" content="Nicolay Hvidsten, ruby, rails, programming")
    %link(rel="stylesheet" href="/public/resume.css")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    %script(src="/public/analytics.js")
    %script(src="//use.typekit.net/lnx3dis.js")
    %script
      try{Typekit.load();}catch(e){}
    %title {{ page.title }}

  %body
    {{ content }}
 
