---
layout: master
---
{% assign doing = site.data.now | where: "done", false %}
{% assign done = site.data.now | where: "done", true %}
<section class='now-section'>
  <h1>Now</h1>
  <p>
    Inspired by <a href="https://sivers.org" class="ext">Derek Sivers</a> I decided to create
    a <b>now</b> page to showcase what I'm currently working on.
  </p>
  <hr>
  <h2>Things I'm currently doing</h2>
  <ul>
    {% for item in doing %}
    <li class='now'>
      <section class='link-container'>
        <a href='{{item.link}}'>
          <h3>{{ item.title }}</h3>
        </a>
        <i class='tag tag-{{item.type}}'>{{ item.type }}</i>
      </section>
      <p>{{ item.desc }}</p>
    </li>
    {% endfor %}
  </ul>
  <hr>
  <h2>Things I've completed</h2>
  <ul>
    {% for item in done %}
    <li class='done'>
      <section class='link-container'>
        <a href='{{item.link}}'>{{ item.title }}</a>
        <i class='tag tag-{{item.type}}'>{{ item.type }}</i>
      </section>
    </li>
    {% endfor %}
  </ul>
</section>
