pre {
  overflow-x: auto;
}

pre, code {
  padding: 0 .5em;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-bottom:1px solid #ccc; 
}

pre code { border: 0; }

.c1 { color: $_gray;    }
.k  { color: $_maroon;  }
.s  { color: $_blue;    }
 
code { display: inline-block; }

