pre {
  background: $offWhite;
  padding: 15px 30px;
  margin: 0;
  border-radius: 3px;
  text-align: left;
}

code {
  background: $offWhite;
  line-height: 2;
  color: $_black;
  padding: 3px 10px;
  font-size: $small;
  border-radius: 3px;
}

pre code { padding: 0; }

.c { color: $_green; }

