pre {
  white-space: pre-line;
  background: #393939;
  color: #f0f0f0;
  font-size: 16px;
  font-family: 'Cousine'; 
  padding: 15px 30px;
  margin-bottom: 30px;
  border-radius: 3px;
}

.k   { color: #e87972; }
.nf  { color: #b9d678; }
.s   { color: #80accc; }
