$blue:      #3A96DB;
$black:     #3d464d;
$faded_black: rgba(0, 0, 0, .3);
$white:     #fff;
$transluscentWhite: rgba(240, 240, 240, .90);
$gray:      #8d8e91;
$lightGray: #ddd;
$yellow:    #ffff00;


// Code
$_gray:     #b1b2b5;
$_blue:     #183691;
$_ltBlue:   #0086b3;
$_orange:   #ed6a43;
$_red:      #a71d5d;
$_purple:   #795da3;
$_green:    #63a35c;
$_yellow:   #dead29;
$_brown:    #a7925a;
