$blue:      #3A96DB;
$black:     #3d464d;
$faded_black: rgba(0, 0, 0, .3);
$white:     #fff;
$transluscentWhite: rgba(240, 240, 240, .90);
$gray:      #8d8e91;
$lightGray: #ddd;
$yellow:    #ffff00;

// Code
$_gray:     #b1b2b5;
$_blue:     #78a8d0;
$_purple:   #d2a4cf;
$_red:      #e87972;
$_green:    #91ad86;
$_yellow:   #dead29;
