header {
  background: $navy;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  box-sizing: border-box;
  @include transition(all .4s ease-in-out);
}

.red header    { background: $crimson; }
.navy header   { background: $black; }
.yellow header { background: $maroon; }
.green header  { background: $forest; }

header img { height: 28px; width: 28px; margin-right: 25px; }

header section { flex: 1; display: flex; align-items: center; }

.right { justify-content: flex-end; }

header .content { justify-content: center; flex-direction: row; }

header a:after {
  display: block;
  content: ' ';
  width: 28px;
  height: 28px;
  background: url('/public/images/avatar_white.svg') center center no-repeat;
  background-size: contain;
  padding-right: 25px;
}

.github:after {
  background: url('/public/images/github.svg') center center no-repeat;
  background-size: contain;
}

.twitter:after {
  background: url('/public/images/twitter.svg') center center no-repeat;
  background-size: contain;
  height: 25px;
}

.goodreads:after {
  background: url('/public/images/book.svg') center center no-repeat;
  background-size: contain;
  height: 25px;
}

.imdb:after {
  background: url('/public/images/movie.svg') center center no-repeat;
  background-size: contain;
  height: 25px;
}

/* Headroom */
.headroom--unpinned {
  @include transform(translate3d(0, -52px, 0));
}
