@import 'colors';
@import 'mixins';

header { 
  width: 50rem; 
  margin: 0 auto; 

  @extend .flex-center;

  nav, a { @extend .inline-flex-center; }
}

header ul { margin-left: 50px; }

header img { width: 30px; }

header li { 
  margin-left: 15px;
  display: inline-block;
  padding: 10px 0; 
  opacity: .9;
  transition: all .4s ease;

  &:first-of-type { margin-left: 0; }
}

header li a:hover {
  color: $blue;
}

nav .active { 
  opacity: 1; 
  color: $blue;
}

