section, div { box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Source Sans Pro';
  color: $white;
}

a { text-decoration: none; color: $white; }

body { 
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}

p { font-size: 22px; }

b,strong { font-weight: 700; }
i, em { font-style: italic; }

#main { min-height: 100vh; }

#main .welcome, #main .post , #main .me{ 
  height: 100vh; 
  padding: 0 70px; 
  display: flex;
}

.welcome     { background: $blue; }
.post.red    { background: $red;  }
.post.yellow { background: $yellow; }

.welcome .tag { color: $blue; }

.tag {
  background: $white;
  border-radius: 3px;
  padding: 3px 8px;
}

.content { 
  max-width: 850px; 
  margin: 0 auto; 
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex: 1;
}

p, h1,h2 { text-align: left; line-height: 1.5; }

h2 { 
  font-size: 4em; 
  font-weight: 100; 
  font-family: 'Source Sans Pro'; 
  margin: 15px 0;
}

h1 { font-size: 6em; font-weight: 700; }
p { font-size: 22px; }

.welcome img, .post img { 
  margin: 0 auto;
  height: 50vh;
  max-height: 50vh;
  @include transition(.4s all ease); 
}

.welcome a { text-decoration: underline; }

.notice {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, .3);
  padding: 15px 20px;
  @include transition(.3s all ease);
  opacity: 0;
}

.notice img { margin-left: 10px; height: 28px; width: 28px; }

.fade { opacity: 0; }

