
html, body {
  height: 100%;
  font-family: $sans;
  color: $white;
  padding: 0;
  margin: 0;
}

body { 
  text-rendering: optimizeLegibility;
  @include display(flex);
  @include flex-direction(column);
}

body, section, div { box-sizing: border-box; }

a { text-decoration: none; color: $black; }

#main { min-height: 100vh; }

#main .welcome, #main .post , #main .me{ 
  height: 100vh; 
  padding: 0 70px; 
  @include display(flex);
}

.content { 
  max-width: 850px; 
  margin: 0 auto; 
  @include flex-direction(column);
  @include justify-content(center);
  @include display(flex);
  @include flex(1);
}

h1,h2 { text-align: left; line-height: 1.2; }

h2 { 
  font-size: $subtitle; 
  font-weight: $light; 
  font-family: $sans;
  margin: 30px 0;
}

h1 { font-size: $title; margin: 0; }

p { font-size: $copy; margin: 0; line-height: 1.6; }

hr { background: $grayest; width: 30%; margin: 50px auto; height: 2px;}

li { text-align: left; margin-top: 5px;}
li:first-of-type { margin: 0; }

ol { padding: 0; margin: 30px 0; font-size: $copy; } 
