#post { min-height: 100vh; font-weight: 100; }
.red #post { background: $red; }

.intro { 
  padding: 50px 0;
  display: flex; 
  border-bottom: 1px solid $border;
}

.intro img { max-height: 50vh; width: 100%; }

.body { 
  background: $white; 
  color: $black; 
  font-family: 'PT serif';
  padding: 50px 0;
}

#post a { text-decoration: underline; }

.text { 
  margin-top: 50px; 
  padding-top: 50px; 
  border-top: 1px solid $white; 
  display: flex;
}

.text p+p { margin: 0 0 0 15px; }

.body a { color: $black; }

.title { text-align: center; font-size: 8em; }

sup { vertical-align: super; font-size: 0.5em; }
