.header { text-align: center; }

.posts h2 { margin: 0; }

.post-title { 
  text-align: center; 
  margin-bottom: 15px; 
}

.date { 
  margin: 0;
  color: $gray;
}

.gist + p > em { 
  display: block;
  margin: -15px 0;
  color: $gray; 
  font-size: $small; 
  text-align: center;
}

.footnote { 
  font-weight: 700;
  color: $blue;
  text-decoration: none;
}

.footnotes { margin: 30px 0 ;}
.footnotes li { margin-bottom: 15px; }
.footnotes li:last-of-type { margin-bottom: 0 }
