.header { text-align: center; }

.posts h2 { margin: 0; line-height: 1.5; }

.post-title { 
  text-align: center; 
  margin-bottom: 15px; 
}

.date { 
  margin: 0;
  color: $gray;
}

img +em, .gist + p > em {
  color: $gray; 
  text-align: center;
  display: block;
}

.gist + p > em { 
  margin: -15px 0;
}

.footnote { 
  font-weight: 700;
  color: $blue;
  text-decoration: none;
}

.footnotes { margin: 30px 0 ;}
.footnotes li { margin-bottom: 15px; }
.footnotes li:last-of-type { margin-bottom: 0 }

.body img { 
  max-width: 100%; 
  border: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}
