body {
  padding: 35px 120px;
  min-width: 900px;
  width: 70%;
}

header, hr { width: 100%; }

hr { margin: 35px 0; }

header { 
  @include display(flex); 
}

header span:first-of-type { @include flex(1); }

header span:last-of-type { 
  @include align-self(flex-end);
  text-transform: uppercase;
  font-size: $small;
} 

a + span { display: block; }

a { color: $black; }

main { @include display(flex); }

section { 
  margin: 0; 
  @include flex(1); 
}

#me + p + p { text-indent: 35px; }

section:first-of-type { margin-right: 70px; }

p,ul,li { margin: 0; }
h3 { margin: 15px 0; }

#me, #education { margin: 0 0 15px 0; }

#education + ul li, #projects + ul li { margin-bottom: 25px;}
