.tag {
  background: $white;
  border-radius: 3px;
  padding: 3px 8px;
}

.welcome     { background: $blue; }
.post.red    { background: $red;  }
.post.yellow { background: $yellow; }
.post.navy   { background: $coolBlue; }
.post.green  { background: $green; }

.post.red .tag { background: $crimson; }
.post.yellow .tag { background: $maroon; }
.post.green .tag  { background: $forest; }

.welcome img, .post img { 
  margin: 0 auto;
  height: 50vh;
  max-height: 50vh;
  max-width: 100%;
  @include transition(.4s all ease); 
}

.welcome a, .post a { color: $white; }

.welcome .tag { color: $blue; }
.welcome a { text-decoration: underline; }

.notice {
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, .3);
  padding: 15px 20px;
  @include transition(.3s all ease);
  opacity: 0;
}

.notice img { margin-left: 10px; height: 28px; width: 28px; }
.notice.fade { opacity: 0; }

.post .tag {
  align-self: flex-end;
  margin: 30px 5px 30px 0;
}

.post .tag:first-of-type {
  margin-left: 5px;
}

section h1 { display: inline-flex; }
