// ----- fonts -----

// sizes
$hero:      8em;
$title:     6em;
$subtitle:  4em;
$copy:      22px;
$small:     16px;

// weights
$light:     100;
$normal:    400;
$bold:      700;

// font faces
$sans:  'Source Sans Pro';
$serif: 'PT Serif';
$code:  'Cousine';

