\---
layout: default
\---

%h1 Sup.

%p 
  My name is Nicolay, and I like programming, drawing and
  writing. Preferably all at once. If you feel like reading
  some <span class="tag">#knowledgebombs</span>, feel free to scroll on down.
