\---
layout: default
\---

%section
  %h1 Sup.

  %figure
    %img(src="/public/images/me.png")

  %p  
    My name is Nicolay, and I'm a developer who enjoys programming,
    drawing, writing, and wearing dazzling shirts.
    Preferably all at once.
    
  %p
    I have a particular fondness for ruby, <a href="/culture/">movies</a>, 
    <a href="/culture/">books</a>, <a href="/culture/">games</a>, <a href="/culture/">music</a> 
    (usually involving a guitar) and <a href="/philosophy/">philosophy</a>. 
    When I feel like it I <a href="/blog/">write</a>  about these things 
    and post it on the internet. 
    
  %p
    I currently work for <a href="http://bekk.no">BEKK Consulting</a> in Norway, 
    which is pretty flippin' cool.

