\---
layout: default
\---

%section.welcome
  .content
    %h1 Sup.

    %p 
      My name is Nicolay, and I like programming, drawing and
      writing. Preferably all at once. If you feel like reading
      some <span class="tag">#knowledgebombs</span>, feel free to scroll on down.

\{% for post in site.posts %}
%section(class="post {{ post.color }}")
  .content
    %h1 
      %a(href="{{ post.url }}") {{ post.title }}

    %p {{ post.teaser }}

\{% endfor %}
