\---
layout: master
title: Home
\---

%section
  %h1 Sup.

  %figure
    %img(src="/public/images/me.png")

  %p  
    My name is Nicolay, and I'm a developer who enjoys programming,
    drawing, writing, and wearing dazzling shirts.
    Preferably all at once.
    
  %p
    I have a particular fondness for ruby, <a href="/culture/">movies</a>, 
    <a href="/culture/">books</a>, <a href="/culture/">games</a>, <a href="/culture/">music</a> 
    (usually involving a guitar at some point) and <a href="/philosophy/">philosophy</a>. 
    When I feel like it I <a href="/blog/">write</a> about these things 
    and post it on the internet. If you want you can download my <a href="/public/resume.pdf">resume</a>, 
    or perhaps check out my <a href="/public_key.html">public key</a> if you want to send me top-secret encrypted messages containing cat gifs.
    
  %p
    I currently work for <a href="http://bekk.no">BEKK Consulting</a> in Norway, 
    which is pretty flippin' cool.

