\---
layout: default
\---

%section
  %h1 Resume

  %p
    This is the synthesized version of my education and work, 
    please pick the one suitable for your need. If you're not in
    the mood for a flashy HTML resume, then feel free to download
    the plain 'ol <a href="/public/resume.pdf">PDF version</a>.

  %hr
  
  %ul
    %li 
