\---
layout: resume
\---

%header
  %span Nicolay Hvidsten, Programmer
  %span resumé

%hr

%main
  %section
    %h3#me Me
    
    %p 
      My name is Nicolay, and I'm a programmer. I didn't fully
      realise this until I was about 22 years old, but after
      my epiphany I've devoted more than half of my waking hours
      to program computers to do my will, with varying success.

    %p 
      In 2013 I graduated from the Norwegian University of 
      Science and Technology with an M.Sc. in computer 
      science. During my studies I spent about 10 hours 
      weekly in extra-curricular activites (including being the 
      webmaster for a large-scale IT conference and being on the 
      board for a student festival). 
      Additionally I spent one year abroad, attending the computer
      science graduate program at the University of California,
      San Diego where I graduated with a GPA of 3.902.

    %h3#contact Contact

    %ul
      %li Email: <a href="mailto:nicohvi@gmail.com">nicohvi@gmail.com</a>
      %li Web:  <a href="http://nhh.co">nhh.co</a>
      %li Github: nicohvi

    %h3#employment Employment
    
    %ul
      %li Technology consultant, BEKK Consulting, 2013 - present
      %li Summer intern, Capra Consulting, 2012
      %li Summer intern, Inspera, 2011

  %section

    %h3#education Education 
    
    %ul
      %li 
        Master of Science, Computer Science<br>
        Norwegian University of Science and Technology<br>
        August 2008 - June 2013

      %li
        Graduate Program Exchange Student - Computer Science<br>
        University of California, San Diego<br>
        August 2011 - June 2012

    %h3#skills Skills

    %p
      Front-end development (javascript/coffeescript, sass/less),
      back-end development (ruby, java, c#),
      systems management (centOS, ubuntu, puppet, docker), and
      development practices/paradigms (functional (reactive) 
      programming, kanban, git, TDD).


    %h3#projects Side Projects

    %ul
      %li 
        %a(href="https://ballot.cc") Ballot
        %span   
          Ballot is a website for creating and voting on polls 
          which can be shared with others.
      
      %li
        %a(href="https://Github.com/nicohvi/stump") Stump
        %span   
          Stump is a minimal logging wrapper for rack-based 
          web applications.
      
      %li 
        %a(href="http://filmpicker.herokuapp.com") Moviepicker
        %span 
          Moviepicker is a small website which suggests 
          movies for you based on the rotten tomatoes API 
          and IMDB ratings. It was created to demonstrate 
          functional reactive programming.
