\---
layout: master
\---

%section
  %h1 Portfolio

  %p
    These are the manifestations of ideas that popped into 
    my head at one time or another. 

  %hr

  %ul
    %li
      %a{href: "https://nplol-ballot.herokuapp.com", target: "_blank"}
        %h2 Ballot
      %p
        Ever wanted to gauge someone's opinion on something?
        Where should you guys head for lunch? Who should be
        banned from the chat? When should you launch your dating
        app for cats? <a href="https://nplol-ballot.herokuapp.com" target="_blank">Ballot</a> can
        provide the answers to these essential questions.
