\---
layout: master
title: Portfolio
\---

%section
  %h1 Portfolio

  %p
    These are the manifestations of ideas that popped into 
    my head at one time or another. 

  %hr

  %ul
    \{% for item in site.data.portfolio %}
    %li.project
      %a{href: "{{ item.url }}"}
        %h2 {{ item.title }}
      %p 
        {{ item.desc }}
    \{% endfor %} 
