@import 'variables';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0;
  padding: 30px;
  min-width: 300px;
  @include copy;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ol {
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: $black;
}
