@import 'variables';
@import 'fonts';
@import 'stripe';

p > code {
  background: rgba($yellow, 0.6);
  font-size: 16px;
  padding: 2px 5px;
}

pre,
code {
  font-family: 'Consolas', 'Courier New', monospace;
}

pre.highlight {
  overflow-x: auto;
  padding: 10px;
  background: #f7f8f9;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
}
