@import 'colors';
@import 'fonts';
// @import 'github';
@import 'solarized';

p > code {
  background: $yellow;
  font-size: 16px;
  padding: 2px 5px 4px 5px;
}

pre {
  font-family: 'Consolas', 'Courier New', monospace;
}

pre.highlight {
  overflow-x: auto;
  padding: 10px;
}
