@import 'colors';
@import 'variables';
@import 'mixins';

header { 
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.header-content {
  max-width: 66.7%;
  margin: 0 auto;
}

header ul { margin-left: 50px; }

header img { width: 30px; }

header li { 
  margin-left: 15px;
  display: inline-block;
  padding: 10px 0; 
  opacity: .9;
  transition: all .4s ease;

  &:first-of-type { margin-left: 0; }
}

header li a:hover {
  color: $blue;
}

nav .active { 
  opacity: 1; 
  color: $blue;
}

@media (max-width: $mobile) {
  .header-content {
    max-width: 100%;
  }

  header ul {
    @include flex-column;
    max-height: 0;
    transition: max-height .4s ease-in-out;
    overflow: hidden;
  }

  header nav:before {
    position: absolute;
    right: 30px;
    top: 30px;
    content: '\2193';
    display: block;
    cursor: pointer;
    transition: transform .3s ease-in-out;
  }

  nav.active ul { max-height: 500px; }

  nav.active:before {
    transform: rotateZ(180deg);
  }

  header li {
    margin-left: 0;
  }
  
}

