@import 'fonts';
@import 'variables';
@import 'colors';

main {
  max-width: 700px;
  margin: 0 auto;
  display: block; // Since IE has no user-agent stylesheet for this element
}

figure {
  margin: 30px 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

hr {
  width: 25%;
  height: 2px;
  background: $lightGray;
  border: 0;
}

/* ---- font styles ---- */

h1 {
  @include title();
  margin: 60px 0;
}

p a {
  border-bottom: 1px solid $faded_black;
  transition: all 0.2s ease;

  &:hover {
    border-bottom: 1px solid $black;
  }

  &.footnote {
    border-bottom: 0;
  }
}

h2 + p {
  margin-top: 0;
  word-break: break-word;
}

p {
  margin: 30px 0;
}

/* ---- list styles ---- */

main ul {
  margin: 30px 0;
}
main ul li {
  margin-bottom: 30px;
}
main ul li:last-of-type {
  margin-bottom: 0;
}
main ul h2 {
  margin: 15px 0 0 0;
}

li p:first-of-type {
  margin: 0;
}

@media (max-width: $mobile) {
  h1 {
    margin: 20px 0;
  }
  main > section,
  main > article,
  .main-container {
    width: 100%;
  }
}

pre,
figure {
  padding: 0;
  margin: 0;
}
