@mixin flex-center($dir) {
  display: flex;
  @if ($dir == horizontal) {
    justify-content: center;
  } @else if ($dir == vertical) {
    align-items: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin list-margin-bottom($margin: 30px) {
  margin-bottom: $margin;

  &:last-of-type {
    margin-bottom: 0;
  }
}
