// colours
$blue: #3a96db;
$black: #3d464d;
$black-faded: rgba(0, 0, 0, 0.3);
$gray: #8d8e91;
$gray-light: #ddd;
$green: #b2e6b8;
$yellow: #ffff00;
$white: #fff;
$white-90: rgba(240, 240, 240, 0.9);

$mobile: 500px;
