\---
layout: master
\---

{% assign doing = site.data.now | where: "done", false %}
{% assign done = site.data.now | where: "done", true %}

%section.now-section
  %h1 Now

  %p
    Inspired by <a href="https://sivers.org" class="ext">Derek Sivers</a> I decided to create
    a <b>now</b> page to showcase what I'm currently working on.

  %hr

  %h2 Things I'm currently doing

  %ul
    \{% for item in doing %}
    %li.now
      %a(href="{{item.link}}")
        %h3 {{ item.title }}
      %p {{ item.desc }}
    \{% endfor %}

  %hr

  %h2 Things I've completed

  %ul
    \{% for item in done %}
    %li.done
      %p
        %a(href="{{item.link}}") {{ item.title }}
    \{% endfor %}
