\---
layout: default
\---

%section
  %h1 Quotes

  %p 
    These are things I've read or heard that made an instant,
    and lasting, impact on the way I think. Surprisingly,
    most of them are from songs.

  %hr

  %ul
    \{% for quote in site.data.quotes %}
    %li.quote
      %p "{{ quote.quote }}"
      %span - {{ quote.author }}
    \{% endfor %}


