\---
layout: master
title: Quotes
\---

%section
  %h1 Quotes

  %p 
    Smart people say smart things, even people you don't always agree with.  
    
  %hr

  %ul
    \{% for quote in site.data.quotes %}
    %li.quote
      %p "{{ quote.quote }}"
      %span - {{ quote.author }}
    \{% endfor %}


