\---
layout: master
title: Quotes
\---

%section
  %h1 Quotes

  %p 
    These are things I've read or heard that made an instant,
    and lasting, impact on the way I think. Most of them are from
    songs, which probably means that musicians are geniuses or 
    that I should read more books.

  %hr

  %ul
    \{% for quote in site.data.quotes %}
    %li.quote
      %p "{{ quote.quote }}"
      %span - {{ quote.author }}
    \{% endfor %}


