\---
layout: master
\---

%section
  %h1 Quotes

  %p 
    Smart people say smart things, but unfortunately our minds are fickle
    bastards and tend to forget them. This is my refill station.
    
  %hr

  %ul
    \{% for quote in site.data.quotes %}
    %li.quote
      %p "{{ quote.quote }}"
      %span - {{ quote.author }}
    \{% endfor %}


