!!!
%html
  %head
    %script(rel="stylesheet" href="public/application.css")
    %script(src="public/application.js")
    %title I have no idea what I'm doing
  
  %body
    %section#main
	    %a(href="/" id="home")
        %img(src="assets/images/avatar.svg")
			{{ content }}

