<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
		<link href='/css/layout.css' rel='stylesheet' type='text/css'>
		<link href='/css/post.css' rel='stylesheet' type='text/css'>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/javascript/main.js" type="text/javascript"></script>
		<title>I have no idea what I'm doing</title>
	</head>
	<body>
	
		<a href="/">
			<img src="/assets/avatar.svg" id="avatar"/>
		</a>
		{{ content }}
	
	</body>
</html>