---
title: I have no idea what I'm doing
---
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <link href='/public/application.css' rel='stylesheet'>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='/public/application.js'></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <section class='left'>
        <img src='/public/images/avatar_white.svg'>
        Nicolay Hvidsten
      </section>
      <section class='right'>
        Github
        Twitter
      </section>
    </header>
    <div id='content'>
      {{ content }}
    </div>
    <footer></footer>
  </body>
</html>
