---
title: I have no idea what I'm doing
---
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='Nicolay Hvidsten, Programming Ruby' name='Nicolay Hvidsten'>
    <meta content='Nicolay Hvidsten, ruby, rails, programming' name='robots'>
    <link href='/public/application.css' rel='stylesheet'>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <script src='/public/application.js'></script>
    <script src='/public/analytics.js'></script>
    <title>{{ page.title }}</title>
  </head>
  <body class='{{ page.color }}'>
    <header>
      <div class='content'>
        <section class='left'>
          <a class='home' href='/' title='Home'></a>
          Nicolay Hvidsten
        </section>
        <section class='right'>
          <a class='github' href='http://github.com/nicohvi' title='Code'></a>
          <a class='twitter' href='http://twitter.com/idrawbears' title='Thoughts'></a>
          <a class='goodreads' href='https://www.goodreads.com/review/list/7071875-nicolay-hvidsten?shelf=favourites' title='Books'></a>
          <a class='imdb' href='http://www.imdb.com/search/title?my_ratings=restrict&amp;sort=my_ratings&amp;title_type=feature&amp;view=simple' title='Movies'></a>
        </section>
      </div>
    </header>
    <div id='main'>
      {{ content }}
    </div>
    <footer></footer>
  </body>
</html>
