<!DOCTYPE html>
{% assign random = site.time | date: "%s%N" | modulo: site.data.lols.size %}
{% assign description = "Ramblings of Nicolay Hvidsten, developer" %}
<html>
<head>
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta content='Nicolay Hvidsten, Programming Ruby' name='Nicolay Hvidsten'>
<meta content='Nicolay Hvidsten, ruby, rails, programming' name='robots'>
<meta content='{%if page.description %}{{page.description}}{% else %}{{ description }}{% endif %}' name='description'>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='Nicolay Hvidsten, developer' property='og:title'>
<script src='/public/bundle.js'></script>
<link href='/public/application.css?v=1' rel='stylesheet'>
{% include analytics.html %}
<title>{%if page.title %}{{ page.title }}{% else %}{{site.data.lols[random].text }}{% endif %}</title>
</head>
<body>
<header>
<a href='/'>
<img src='/public/images/avatar.svg'>
</a>
<nav>
<ul>
{% assign url = page.url|remove:'index.html' %}
{% for link in site.navigation %}
<li>
{% if url contains link.url %}
<a class='active' href='{{link.url}}'>{{ link.text }}</a>
{% else %}
<a href='{{link.url}}'>{{ link.text }}</a>
{% endif %}
</li>
{% endfor %}
</ul>
</nav>
</header>
<main>
{{ content }}
</main>
</body>
</html>
