\---
layout: master
title: Library
\---

%section
  %h1 Library

  %p
    I like reading things that smarter people have written 
    because then I can present them as my own ideas at parties.

  %hr

  %ul
    \{% for item in site.data.library %}
    %li 
      %a(href="{{ item.link }}")
        %h2 {{ item.title }}
        %p {{ item.desc }}
    \{% endfor %}
 
